<%if(user.typeUser === 3){%>
  <aside
class="z-20 hidden w-56 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
>
<div class="py-4 text-gray-500 dark:text-gray-400">
  <a
    class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200"
    href="#"
  >
    Sistema de gestion
  </a>
  <ul class="mt-6">
    <li class="relative px-6 py-3">
      <span
        class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
        aria-hidden="true"
      ></span>
      <a
        class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"
        href="index.html"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
          ></path>
        </svg>
        <span class="ml-4">Perfil</span>
      </a>
    </li>
  </ul>

  <ul>
   
    <li class="absolute w-30">
         <button class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 rounded-full border border-transparent active:bg-purple-600 hover:bg-purple-600 focus:outline-none focus:shadow-outline-purple-600">
            <p class="px-4"><i class="fa-people-roof"></i> Empleados</p>
            <span id="span" class="border-l p-2 bg-white hover:bg-purple-200 w-full flex justify-center rounded-full">
                <svg id="svg-down" class="w-5 h-5 text-right text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                <svg id="svg-right" class="w-5 h-5 hidden text-black"   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            </span>
            <div id="menu" class="absolute hidden left-52	 min-w-full w-max bg-white mt-1 rounded z-10">
                <ul class="text-left rounded-full">
                    <li class="px-2 py-3 hover:bg-gray-100 border-b text-black  hover:bg-blue-600" ><a href="/employees" class="flex"><svg class="w-20 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><g id="Human_employees_management"><path d="M58.0879,21.4555a9.8048,9.8048,0,0,0-5.2752-5.2181.9589.9589,0,0,1-.5793-.8805.9776.9776,0,0,1,.3035-.7167c.0593-.0565.1159-.1119.1584-.1567a6.0108,6.0108,0,0,0,.79-1.0371A5.9593,5.9593,0,0,0,47.2512,4.53a5.8229,5.8229,0,0,0-4.7,4.566,5.959,5.959,0,0,0,1.6431,5.5319,1.0106,1.0106,0,0,1,.3154.7176v.005a.9592.9592,0,0,1-.58.8895,9.8556,9.8556,0,0,0-1.5388.812,13.4921,13.4921,0,0,1,2.0906,3.2912,15.06,15.06,0,0,1,1.2812,6.2486v1.2862a4.7178,4.7178,0,0,1-.4961,2.0788h11.784A2.0787,2.0787,0,0,0,59.13,27.8779V26.5917A12.4463,12.4463,0,0,0,58.0879,21.4555Z" id="id_116"></path><path d="M15.1052,36.6892H8.5471a1.0432,1.0432,0,0,0-1.0432,1.0434V60.1142a1.0433,1.0433,0,0,0,1.0432,1.0435h6.5581A2.2745,2.2745,0,0,0,17.38,58.8832v-19.92A2.2744,2.2744,0,0,0,15.1052,36.6892Z" id="id_117"></path><path d="M56.3279,39.3642a3.8044,3.8044,0,0,0-3.1846-1.7158h-2.57a5.5491,5.5491,0,0,0-5.1455,3.4429A5.75,5.75,0,0,1,44.4036,42.71,8.3781,8.3781,0,0,1,37.72,46.5092l-7.6123.0005a1.35,1.35,0,0,1,0-2.7h7.5762a5.0783,5.0783,0,0,0,2.7244-.8766l0-.0457A5.2188,5.2188,0,0,0,35.19,37.6484h-5.586a7.7365,7.7365,0,0,0-5.497,2.27l-.1426.1421a7.2471,7.2471,0,0,1-3.8858,2.0127V56.9848H40.45A15.43,15.43,0,0,0,54.64,47.6381l2.0068-4.6709A3.802,3.802,0,0,0,56.3279,39.3642Z" id="id_118"></path><path d="M5.4837,26.604a12.4787,12.4787,0,0,1,1.04-5.1387A9.8078,9.8078,0,0,1,11.7967,16.24a.9591.9591,0,0,0,.58-.8895v-.005a1.0106,1.0106,0,0,0-.3153-.7177A5.9593,5.9593,0,0,1,10.4178,9.096a5.823,5.823,0,0,1,4.7-4.5661,5.9563,5.9563,0,0,1,5.4441,9.9536c-.0425.0447-.0992.1-.1583.1567a.9768.9768,0,0,0-.3035.7167h0a.9586.9586,0,0,0,.5794.8805,9.8051,9.8051,0,0,1,5.2751,5.2182,12.4488,12.4488,0,0,1,1.0417,5.1362v1.2861a2.079,2.079,0,0,1-2.0789,2.0789H7.5626a2.079,2.079,0,0,1-2.0789-2.0789Z" id="id_119"></path><path d="M42.0212,21.4555a9.8049,9.8049,0,0,0-5.2749-5.2181.9587.9587,0,0,1-.58-.8805A.9777.9777,0,0,1,36.47,14.64c.0591-.0565.1158-.1119.1582-.1567a5.9808,5.9808,0,0,0,.79-1.0371A5.9593,5.9593,0,0,0,31.1846,4.53a5.8231,5.8231,0,0,0-4.7,4.566,5.959,5.959,0,0,0,1.6433,5.5319,1.0108,1.0108,0,0,1,.3152.7176v.005a.9588.9588,0,0,1-.58.8895,9.8539,9.8539,0,0,0-1.5386.812,13.4826,13.4826,0,0,1,2.09,3.2912,15.0582,15.0582,0,0,1,1.2815,6.2486v1.2862A4.7178,4.7178,0,0,1,29.2,29.9567H40.9841a2.0787,2.0787,0,0,0,2.0789-2.0788V26.5917A12.4464,12.4464,0,0,0,42.0212,21.4555Z" id="id_120"></path></g></svg> Empleados</a></li>
                    <li class="px-2 py-3 hover:bg-gray-100 border-b text-black  hover:bg-blue-600"><a href="/employees/add" class="flex"><svg class="w-20 h-5 text-white" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M75.317,73.381H90.9V25.494H75.317ZM81.61,27.438a1.5,1.5,0,0,1,3,0V68.5a1.5,1.5,0,0,1-3,0Z"/><polygon points="83.11 87.517 89.762 76.381 76.46 76.381 83.11 87.517"/><rect x="75.317" y="11.058" width="15.587" height="11.436"/><path d="M9.1,17.962V75.59a8.975,8.975,0,0,1,6.017-2.318h51.5V11.062H16A6.907,6.907,0,0,0,9.1,17.962ZM55.688,46.544H18.59a1.5,1.5,0,0,1,0-3h37.1a1.5,1.5,0,0,1,0,3ZM15.853,23.994a1.5,1.5,0,0,1,1.5-1.5H56.925a1.5,1.5,0,0,1,1.5,1.5V35.875a1.5,1.5,0,0,1-1.5,1.5H17.353a1.5,1.5,0,0,1-1.5-1.5Z"/><rect x="18.853" y="25.494" width="36.572" height="8.881"/><path d="M66.62,88.942V84.107H37.858a1.5,1.5,0,0,1,0-3H66.62V76.272h-51.5A6.028,6.028,0,0,0,9.1,82.143v.929a6.027,6.027,0,0,0,6.017,5.87Z"/></svg> Registrar empleado</a></li>
                    <li class="px-2 py-3 hover:bg-gray-100 text-black hover:bg-blue-600"><a href="/employess/generate-pdf/" class="flex"><svg class="w-20 h-5 " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="enable-background:new 0 0 128 128;" version="1.1" viewBox="0 0 128 128" xml:space="preserve"><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g><g><g><path d="M95.21,80.32c-0.07-0.51-0.48-1.15-0.92-1.58c-1.26-1.24-4.03-1.89-8.25-1.95     c-2.86-0.03-6.3,0.22-9.92,0.73c-1.62-0.93-3.29-1.95-4.6-3.18c-3.53-3.29-6.47-7.86-8.31-12.89c0.12-0.47,0.22-0.88,0.32-1.3     c0,0,1.98-11.28,1.46-15.1c-0.07-0.52-0.12-0.67-0.26-1.08l-0.17-0.44c-0.54-1.25-1.6-2.57-3.26-2.5L60.32,41H60.3     c-1.86,0-3.36,0.95-3.76,2.36c-1.2,4.44,0.04,11.09,2.29,19.69l-0.58,1.4c-1.61,3.94-3.63,7.9-5.41,11.39l-0.23,0.45     c-1.88,3.67-3.58,6.79-5.13,9.43l-1.59,0.84c-0.12,0.06-2.85,1.51-3.49,1.89c-5.43,3.25-9.03,6.93-9.63,9.85     c-0.19,0.94-0.05,2.13,0.92,2.68l1.54,0.78c0.67,0.33,1.38,0.5,2.1,0.5c3.87,0,8.36-4.82,14.55-15.62     c7.14-2.32,15.28-4.26,22.41-5.32c5.43,3.05,12.11,5.18,16.33,5.18c0.75,0,1.4-0.07,1.92-0.21c0.81-0.22,1.49-0.68,1.91-1.3     C95.27,83.76,95.43,82.06,95.21,80.32z M36.49,99.33c0.7-1.93,3.5-5.75,7.63-9.13c0.26-0.21,0.9-0.81,1.48-1.37     C41.28,95.72,38.39,98.46,36.49,99.33z M60.95,43c1.24,0,1.95,3.13,2.01,6.07c0.06,2.94-0.63,5-1.48,6.53     c-0.71-2.26-1.05-5.82-1.05-8.15C60.43,47.45,60.38,43,60.95,43z M53.65,83.14c0.87-1.55,1.77-3.19,2.69-4.92     c2.25-4.25,3.67-7.57,4.72-10.3c2.1,3.82,4.72,7.07,7.79,9.67c0.39,0.32,0.8,0.65,1.22,0.98C63.82,79.8,58.41,81.31,53.65,83.14z      M93.08,82.79c-0.38,0.23-1.47,0.37-2.17,0.37c-2.26,0-5.07-1.03-9-2.72c1.51-0.11,2.9-0.17,4.14-0.17     c2.27,0,2.94-0.01,5.17,0.56C93.44,81.4,93.47,82.55,93.08,82.79z" style="fill:#FF402F;"/></g><><path d="M104,80c-13.255,0-24,10.745-24,24s10.745,24,24,24s24-10.745,24-24S117.255,80,104,80z      M114.882,96.988l-0.113,0.176l-8.232,11.438C105.989,109.468,105.029,110,104,110s-1.989-0.532-2.536-1.397l-8.346-11.614     c-0.529-0.926-0.524-2.073,0.01-2.994c0.535-0.922,1.53-1.494,2.596-1.494H100V86c0-1.654,1.346-3,3-3h2c1.654,0,3,1.346,3,3v6.5     h4.276c1.065,0,2.061,0.572,2.596,1.494C115.406,94.915,115.411,96.063,114.882,96.988z" style="fill:#FF402F;"/><><polygon points="84,125.95 83.95,126 84,126     " style="fill:#FF9A30;"/><polygon points="114,77 114,76.95 113.95,77     " style="fill:#FF9A30;"/><path d="M111.071,44.243L71.757,4.929C69.869,3.041,67.357,2,64.687,2H24c-5.514,0-10,4.486-10,10v104      c0,5.514,4.486,10,10,10h59.95l-4-4H24c-3.309,0-6-2.691-6-6V12c0-3.309,2.691-6,6-6h40.687c1.603,0,3.109,0.624,4.242,1.757      l39.314,39.314c1.116,1.117,1.757,2.663,1.757,4.242V72.95l4,4V51.313C114,48.643,112.96,46.132,111.071,44.243z" style="fill:#FF402F;"/><polyline points="113.95,77 114,76.95 110,72.95     " style="fill:#FFFFFF;"/g></svg> Generar pdf</a></li>
                </ul>
            </div>
        </button>
    </li>

</ul>

<ul class="my-16">
   
  <li class="absolute w-30">
       <button class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 rounded-full border border-transparent active:bg-purple-600 hover:bg-purple-600 focus:outline-none focus:shadow-outline-purple-600">
          
          <p class="px-4 flex text-center"><i class="fa-people-roof"></i>Cargos <spam class="opacity-0">.......</spam></p>
          <span id="spanThow" class="border-l p-2 bg-white hover:bg-purple-200 w-full flex justify-center rounded-full">
            <svg id="svg-downThow" class="w-5 h-5 text-right text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            <svg id="svg-rightThow" class="w-5 h-5 hidden text-black"   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
          </span>
          <div id="menuThow" class="absolute hidden  left-52 min-w-full w-max bg-white mt-1 rounded">
              <ul class="text-left border rounded">
                  <li class="px-2 py-3 hover:bg-gray-100 text-black border-b"><a href="/charges" class="flex"> <svg  class="w-20 h-5" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1.99999in" height="1.99999in" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 2000 2000"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                     <defs>
                      <linearGradient id="id0" gradientUnits="userSpaceOnUse" x1="146.717" y1="999.996" x2="1853.28" y2="999.996">
                       <stop offset="0" style="stop-opacity:1; stop-color:#000000"/>
                       <stop offset="1" style="stop-opacity:1; stop-color:#000000"/>
                      </linearGradient>
                     </defs>
                     <rect class="fil0" width="2000" height="2000"/>
                     <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"/>
                      <path class="fil1" d="M1053 574l-106 0 -26 64c-12,32 -60,13 -48,-19l102 -257c8,-22 39,-22 48,-1l104 258c12,31 -36,50 -48,20l-26 -65zm530 316c-149,0 -270,-121 -270,-270 0,-149 121,-270 270,-270 149,0 270,121 270,270 0,149 -121,270 -270,270zm0 -488c-120,0 -218,97 -218,218 0,120 98,218 218,218 121,0 219,-98 219,-218 0,-121 -98,-218 -219,-218zm23 372c-148,0 -186,-239 -47,-299 72,-31 162,24 128,60 -31,32 -47,-38 -107,-12 -74,32 -74,162 0,194 60,26 76,-45 107,-12 32,34 -42,69 -81,69zm-1183 -141l-45 0 0 89 45 0c58,0 57,-90 0,-89zm-96 -26l0 -116c0,-14 11,-25 25,-25l71 0c73,0 109,87 63,139 65,57 26,169 -63,169l-71 0c-14,0 -25,-12 -25,-26l0 -141zm96 -26c42,0 42,-64 0,-64l-45 0 0 64 45 0zm-6 309c-149,0 -270,-121 -270,-270 0,-149 121,-270 270,-270 149,0 270,121 270,270 0,149 -121,270 -270,270zm0 -488c-121,0 -219,97 -219,218 0,120 98,218 219,218 120,0 218,-98 218,-218 0,-121 -98,-218 -218,-218zm583 388c-149,0 -270,-121 -270,-270 0,-149 121,-270 270,-270 149,0 270,121 270,270 0,149 -121,270 -270,270zm0 -488c-120,0 -218,98 -218,218 0,120 98,218 218,218 120,0 218,-98 218,-218 0,-121 -98,-218 -218,-218zm-406 1358l-355 0c-21,0 -38,-17 -38,-37l0 -162c0,-78 46,-150 118,-182 32,-15 36,39 98,39 62,0 65,-54 98,-39 71,32 117,104 117,182l0 162c0,20 -17,37 -38,37zm-341 -51l57 0 0 -152c0,-33 52,-33 52,0l0 152 110 0 0 -152c0,-33 51,-33 51,0l0 152 57 0 0 -148c0,-52 -27,-100 -71,-127 -52,47 -133,47 -185,0 -43,27 -71,75 -71,127l0 148 0 0zm164 -378c-77,0 -139,-62 -139,-139 0,-76 62,-139 139,-139 76,0 138,63 138,139 0,77 -62,139 -138,139zm0 -226c-48,0 -87,39 -87,87 0,48 39,87 87,87 48,0 87,-39 87,-87 0,-48 -39,-87 -87,-87zm1344 653l-355 0c-21,0 -38,-17 -38,-38l0 -162c0,-78 46,-149 117,-181 33,-15 36,38 98,38 62,0 66,-53 98,-38 72,32 118,103 118,181l0 162c0,21 -17,38 -38,38zm-341 -52l57 0 0 -151c0,-33 51,-33 51,0l0 151 110 0 0 -151c0,-33 52,-33 52,0l0 151 57 0 0 -148c0,-51 -28,-99 -71,-126 -52,46 -133,46 -185,0 -44,27 -71,75 -71,126l0 148zm163 -377c-76,0 -138,-63 -138,-139 0,-77 62,-139 138,-139 77,0 139,62 139,139 0,76 -62,139 -139,139zm0 -226c-48,0 -87,39 -87,87 0,48 39,87 87,87 48,0 87,-39 87,-87 0,-48 -39,-87 -87,-87zm-341 747l-484 0c-23,0 -42,-19 -42,-42l0 -221c0,-102 60,-196 154,-239 11,-5 24,-2 31,7 51,61 147,61 198,0 7,-9 20,-12 31,-7 94,43 154,137 154,239l0 221c0,23 -19,42 -42,42zm-475 -52l74 0 0 -216c0,-33 51,-33 51,0l0 216 216 0 0 -216c0,-33 51,-33 51,0l0 216 74 0 0 -211c0,-76 -42,-147 -108,-184 -69,66 -181,66 -250,0 -66,37 -108,108 -108,184l0 211zm233 -465c-99,0 -180,-80 -180,-180 0,-99 81,-179 180,-179 99,0 180,80 180,179 0,100 -81,180 -180,180zm0 -308c-71,0 -128,58 -128,128 0,71 57,129 128,129 71,0 128,-58 128,-129 0,-70 -57,-128 -128,-128zm-33 -403l65 0 -33 -81 -32 81z"/>
                     </g>
                    </svg>Cargos</a></li>
                  <li class="px-2 py-3 hover:bg-gray-100 text-black border-b"><a href="/charges/add" class="flex"><svg class="w-20 h-5 text-white" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M75.317,73.381H90.9V25.494H75.317ZM81.61,27.438a1.5,1.5,0,0,1,3,0V68.5a1.5,1.5,0,0,1-3,0Z"/><polygon points="83.11 87.517 89.762 76.381 76.46 76.381 83.11 87.517"/><rect x="75.317" y="11.058" width="15.587" height="11.436"/><path d="M9.1,17.962V75.59a8.975,8.975,0,0,1,6.017-2.318h51.5V11.062H16A6.907,6.907,0,0,0,9.1,17.962ZM55.688,46.544H18.59a1.5,1.5,0,0,1,0-3h37.1a1.5,1.5,0,0,1,0,3ZM15.853,23.994a1.5,1.5,0,0,1,1.5-1.5H56.925a1.5,1.5,0,0,1,1.5,1.5V35.875a1.5,1.5,0,0,1-1.5,1.5H17.353a1.5,1.5,0,0,1-1.5-1.5Z"/><rect x="18.853" y="25.494" width="36.572" height="8.881"/><path d="M66.62,88.942V84.107H37.858a1.5,1.5,0,0,1,0-3H66.62V76.272h-51.5A6.028,6.028,0,0,0,9.1,82.143v.929a6.027,6.027,0,0,0,6.017,5.87Z"/></svg> Registrar cargo</a></li>
                  <li class="px-2 py-3 hover:bg-gray-100 text-black "><a href="/charges/generate-pdf" class="flex"><svg class="w-20 h-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="enable-background:new 0 0 128 128;" version="1.1" viewBox="0 0 128 128" xml:space="preserve"><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g><g><g><path d="M95.21,80.32c-0.07-0.51-0.48-1.15-0.92-1.58c-1.26-1.24-4.03-1.89-8.25-1.95     c-2.86-0.03-6.3,0.22-9.92,0.73c-1.62-0.93-3.29-1.95-4.6-3.18c-3.53-3.29-6.47-7.86-8.31-12.89c0.12-0.47,0.22-0.88,0.32-1.3     c0,0,1.98-11.28,1.46-15.1c-0.07-0.52-0.12-0.67-0.26-1.08l-0.17-0.44c-0.54-1.25-1.6-2.57-3.26-2.5L60.32,41H60.3     c-1.86,0-3.36,0.95-3.76,2.36c-1.2,4.44,0.04,11.09,2.29,19.69l-0.58,1.4c-1.61,3.94-3.63,7.9-5.41,11.39l-0.23,0.45     c-1.88,3.67-3.58,6.79-5.13,9.43l-1.59,0.84c-0.12,0.06-2.85,1.51-3.49,1.89c-5.43,3.25-9.03,6.93-9.63,9.85     c-0.19,0.94-0.05,2.13,0.92,2.68l1.54,0.78c0.67,0.33,1.38,0.5,2.1,0.5c3.87,0,8.36-4.82,14.55-15.62     c7.14-2.32,15.28-4.26,22.41-5.32c5.43,3.05,12.11,5.18,16.33,5.18c0.75,0,1.4-0.07,1.92-0.21c0.81-0.22,1.49-0.68,1.91-1.3     C95.27,83.76,95.43,82.06,95.21,80.32z M36.49,99.33c0.7-1.93,3.5-5.75,7.63-9.13c0.26-0.21,0.9-0.81,1.48-1.37     C41.28,95.72,38.39,98.46,36.49,99.33z M60.95,43c1.24,0,1.95,3.13,2.01,6.07c0.06,2.94-0.63,5-1.48,6.53     c-0.71-2.26-1.05-5.82-1.05-8.15C60.43,47.45,60.38,43,60.95,43z M53.65,83.14c0.87-1.55,1.77-3.19,2.69-4.92     c2.25-4.25,3.67-7.57,4.72-10.3c2.1,3.82,4.72,7.07,7.79,9.67c0.39,0.32,0.8,0.65,1.22,0.98C63.82,79.8,58.41,81.31,53.65,83.14z      M93.08,82.79c-0.38,0.23-1.47,0.37-2.17,0.37c-2.26,0-5.07-1.03-9-2.72c1.51-0.11,2.9-0.17,4.14-0.17     c2.27,0,2.94-0.01,5.17,0.56C93.44,81.4,93.47,82.55,93.08,82.79z" style="fill:#FF402F;"/></g><><path d="M104,80c-13.255,0-24,10.745-24,24s10.745,24,24,24s24-10.745,24-24S117.255,80,104,80z      M114.882,96.988l-0.113,0.176l-8.232,11.438C105.989,109.468,105.029,110,104,110s-1.989-0.532-2.536-1.397l-8.346-11.614     c-0.529-0.926-0.524-2.073,0.01-2.994c0.535-0.922,1.53-1.494,2.596-1.494H100V86c0-1.654,1.346-3,3-3h2c1.654,0,3,1.346,3,3v6.5     h4.276c1.065,0,2.061,0.572,2.596,1.494C115.406,94.915,115.411,96.063,114.882,96.988z" style="fill:#FF402F;"/><><polygon points="84,125.95 83.95,126 84,126     " style="fill:#FF9A30;"/><polygon points="114,77 114,76.95 113.95,77     " style="fill:#FF9A30;"/><path d="M111.071,44.243L71.757,4.929C69.869,3.041,67.357,2,64.687,2H24c-5.514,0-10,4.486-10,10v104      c0,5.514,4.486,10,10,10h59.95l-4-4H24c-3.309,0-6-2.691-6-6V12c0-3.309,2.691-6,6-6h40.687c1.603,0,3.109,0.624,4.242,1.757      l39.314,39.314c1.116,1.117,1.757,2.663,1.757,4.242V72.95l4,4V51.313C114,48.643,112.96,46.132,111.071,44.243z" style="fill:#FF402F;"/><polyline points="113.95,77 114,76.95 110,72.95     " style="fill:#FFFFFF;"/g></svg> Generar pdf</a></li>
          
              </ul>
          </div>
      </button>
  </li>

</ul>   
     
       
<script>
    let svg_down = document.getElementById('svg-down');
    let svg_right = document.getElementById('svg-right');

    let span = document.getElementById('span');
    let menu = document.getElementById('menu');

    span.addEventListener('click',(e) =>{

        menu.classList.toggle('hidden');
        svg_down.classList.toggle('hidden');
        svg_right.classList.toggle('hidden');
    });


    let svg_downThow = document.getElementById('svg-downThow');
    let svg_rightThow = document.getElementById('svg-rightThow');

    let spanThow = document.getElementById('spanThow');
    let menuThow = document.getElementById('menuThow');

    spanThow.addEventListener('click',(e) =>{
        menuThow.classList.toggle('hidden');
        svg_downThow.classList.toggle('hidden');
        svg_rightThow.classList.toggle('hidden');
  
    });

</script>



</aside>
<%}%>

<%if(user.typeUser === 2){%>
  welcome administrador
<%}%>

<%if(user.typeUser === 1){%>
  welcome empleado.
<%}%>


<style>
  /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
</style>