<%- include('../partials/header.ejs')%>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/charges/add" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="name" required autofocus placeholder="cargo">
                            </div>
                            <div class="form-control" style="margin-top: 18px;">
                                <textarea name="description" class="form-control" id="" rows="6" required placeholder="responsabilidad" ></textarea>
                            </div>
                            <div style="margin-top: 18px;">
                               <input type="submit" value="Guardar" id="enviar" class="form-control btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>